{% extends "layout.html" %}
{% block content %}
<div class="form-group">
<form action="{{ url_for('new_prod') }}" method=GET>
   <fieldset>
      <legend>New Product</legend>
        {{ form.hidden_tag() }}


        {{ form.gpu.label }}
        {{ form.gpu }}

        {{ form.weight.label }}
        {{ form.weight }}

        {{ form.inches.label }}
        {{ form.inches }}

        {{ form.resolution.label }}
        {{ form.resolution }}

        {{ form.processor.label }}
        {{ form.processor }}

        {{ form.clockspeed.label }}
        {{ form.clockspeed }}

        {{ form.price.label }}
        {{ form.price }}

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>

   </fieldset>
</form>

{% if val %}
  <div class="album py-5 ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
            <h4 class="card-title">{{ val }}</h4>
            <p class="card-text"> {{ val }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}
